/* top */
.top{
    width: 100vw;
    height: auto;
    display: flex;
}
.logotopgiua{
    padding-left: 13%;
    padding-top: 25px;
    padding-bottom: 25px;
}
.logotop{
    font-size: 50px;
    color: #EE4D2D;
}
.chusobetop{
    padding-top: 25px;
    padding-left: 5px;
    font-size: 40px;
    font-family:'Bebas Neue', sans-serif;
}
.canhchusobetop{
    padding-top: 34px;
    padding-left: 15px;
    font-size: 30px;
    font-family:'Bebas Neue', sans-serif;
}
.mausobetop{
    color: #EE4D2D;
    text-decoration: none;
}

/* bottom */
.bottom{
    width: 100vw;
    height: auto;
    font-size: 13px;
    color: rgb(70, 69, 69);
    text-align: center;
}
.chusobebottom{
    margin-top: 25px;
    margin-bottom: 25px;
}
.chugioithieubottom{
    margin-top: 8px;
}

/* dang ky */
.dangky{
    width: 100%;
    height: 640px;
    background-color: #EE4D2D;
}
.cangiua{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 640px; 
}
.logodangky{
    font-size: 12vw;
    color: white;
}
.chusobedangky{
    font-size: 50px;
    font-family:'Bebas Neue', sans-serif;
    color: white;
}
.chuduoisobe{
    padding-top: 40px;
    font-size: 25px;
    font-family:'Bebas Neue', sans-serif;
    color: white;
}

.bangdangky{
    height: 65%;
    border: solid 1px white;
    background-color: white;
    width: 75%;
    border-radius: 5px;
    padding-left: 7%;
    padding-right: 7%;
}
.chudangky{
    height: 15%;
    padding-top: 7%;
    font-size: 23px;
    text-align: left;
}
.taotaikhoan{
    width: 100%;
    height: 70%;
}
.taoacc{
    margin-top: 7%;
    width: 100%;
    height: 15%;
    border: #EE4D2D solid 1px;
    outline: none;
    border-radius: 3px;
    padding-left: 15px;
    padding-right: 15px;
}
.bamtaoacc{
    margin-top: 7%;
    width: 100%;
    height: 15%;
    border: #EE4D2D solid 1px;
    background-color: #EE4D2D;
    border-radius: 3px;
    color: white;
}
.dacotaikhoan{
    height: 15%;
    width: 100%;
    text-align: center;
}
.bandacotaikhoan{
    color: #00000042;
    display: inline;
}
.cothidangnhap{
    padding-left: 4px;
    display: inline;
}
.maucothidangnhap{
    color: #EE4D2D;
    text-decoration: none;
}
/* dang nhap */
.bangdangnhap{
    height: 50%;
    border: solid 1px white;
    background-color: white;
    width: 75%;
    border-radius: 5px;
    padding-left: 7%;
    padding-right: 7%;
}
.dangnhaptaikhoan{
    margin-top: 7%;
    width: 100%;
    height: 20%;
    border: #EE4D2D solid 1px;
    outline: none;
    border-radius: 3px;
    padding-left: 15px;
    padding-right: 15px;
}
.bamdangnhap{
    margin-top: 7%;
    width: 100%;
    height: 20%;
    border: #EE4D2D solid 1px;
    background-color: #EE4D2D;
    border-radius: 3px;
    color: white;
}
.vien{
    border: solid 1px black;
}
.chudangkyshop{
    font-size: 20px;
}
